<div align="center">
<table>
<tr>
  <td height="80" id="photocas">
    <img src="http://www.departamentos.ull.es/get/departamentos/inginformatica/Area_de_Lenguajes_y_Sistemas_Informaticos/2524068/LSI_CasianoRodriguezLeon.jpg%22%20class=%22foto%22%20alt=%22LSI_CasianoRodr%C3%ADguezLe%C3%B3n.jpg" class="foto" alt="LSI_CasianoRodríguezLeón.jpg" height="100" width="100" />
  </td>
  <td colspan="3">
    <ul id="linkcas">
    <li>
      <a href="https://plus.google.com/+CasianoRodriguezLeon">Google Plus</a>
    </li>
    <li>
      <a href="http://search.cpan.org/~casiano/">CPAN</a>
    </li>
    <li>
      <a href="https://github.com/crguezl">GitHub</a>
    </li>
  </ul>
  </td>
  <!---
  <td>
    <video height="80" controls id="videochimp">
      <source src="images/chimp.mp4" type="video/mp4">
      Su navegador no soporta HTML5 video.
    </video>
  </td>
--->
</tr>
</table>
</div>
