<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h2>Quiz: El Juego de las Preguntas</h2>
  <%= respuesta %>
  <p>
    <a href="/quizes/question">Volver a las preguntas</a>
  </p>
</body>
</html>
